*~
.DS_Store

#ignore thumbnails created by windows
Thumbs.db


# don't ignore directories, so we can recurse into them
!*/

# Don't ignore dummy files, which are used when laying out folders
# - Git won't commit empty folders
!*.dummy
!*/*.dummy

# Do not commit project files. Use premake to generate them as needed
project_*/

